/* Other rules */

:root {
  --green: #3da535;
  --red: #e40313;
  --yellow: #ffef01;
  --blue: #029fe3;
  --pink: #f8c5b0;
  --grey: #333333;
  --light-grey: #e5e5e5;
}

* {
  box-sizing: border-box;
}

/* HEADER */
header {
  background-color: var(--grey);
  height: 100px;
}

h1 {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  line-height: 100px;
}

/* JOBS */

.jobs-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  max-width: 1240px;
  padding: 15px;
}
.jobs-div > div {
  width: 320px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 20px;
}

.jobs-div > div:not(:nth-child(3n)) {
  margin-right: 30px;
}

h2 {
  font-size: 30px;
  line-height: 35px;
}

span {
  font-size: 18px;
  line-height: 21px;
}

.red {
  border: solid 10px var(--red);
}

.green {
  border: solid 10px var(--green);
}

.yellow {
  border: solid 10px var(--yellow);
}

.blue {
  border: solid 10px var(--blue);
}

.pink {
  border: solid 10px var(--pink);
}

/* FOOTER */
footer {
  background-color: var(--light-grey);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  font-size: 18px;
  margin: auto 0;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  cursor: pointer;
}

footer a:first-child:hover {
  color: var(--red);
}

footer a:nth-child(2):hover {
  color: var(--green);
}

footer a:last-child:hover {
  color: var(--blue);
}

/* Media Queries */
@media (max-width: 1034px) {
  .jobs-div > div:nth-child(odd) {
    margin-right: 30px;
  }
  .jobs-div > div:nth-child(even) {
    margin-right: 0;
  }
}

@media (max-width: 715px) {
  .jobs-div > div:nth-child(even),
  .jobs-div > div:nth-child(odd) {
    margin-right: 30px;
    margin-left: 30px;
  }
}
